.jumbotron {
  text-align: center;
  font-style: italic;
  font-size: 50px;
}

#jumbo {
  background-image: url(../pong.jpeg);
  background-image: 10%;
}

.about {
  background-color: #33ffDD;
}

.ping {
  text-align: center;
}
