.jumbotron {
  text-align: center;
  font-style: italic;
}

#jumbo {
  background-image: url(../audrine.gif);
  background-image: cover;
  font-size: 100px;
  text-decoration-color: #ff4000ff
}

.about {
  background-color: #33ffDD;
}

.ping {
  text-align: center;
}

h1 {
  font-size: 150px;
  text-decoration-color: #ff4000ff
}
